<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1" cellspacing="0">
    <tr>
        <td>学生ID</td>
        <td>姓名</td>
        <td>年龄</td>
        <td>班级</td>
        <td>操作</td>
    </tr>
    <tr th:each="user : ${list}">
        <td th:text="${user.id}">学生ID</td>
        <td th:text="${user.name}">姓名</td>
        <td th:text="${user.age}">年龄</td>
        <td th:text="|${user.cla.cname}(${user.cla.stucount})|">班级</td>
        <td>
            <a th:href="|/stu/deleteUser/${user.id}|">删除</a>
        </td>
    </tr>
</table>
<a href="/stu/getClaList" style="color: forestgreen">添加学生</a>
</body>
</html>